DataFrame.copy(deep=True)
Make a copy of this object’s indices and data.

When deep=True (default), a new object will be created with a copy of the calling object’s data and 
indices. Modifications to the data or indices of the copy will not be 
reflected in the original object.

When deep=False, a new object will be created without copying the calling object’s data or index 
(only references to the data and index are copied).
Any changes to the data of the original will be reflected in the shallow copy (and vice versa).
   copy_data = df(same as shallow copy)

->read_csv() method of pandas is used to read data from .csv files with default delimiter ',' and .txt files with delimiter as '\t'

->if we want to exclude the index column given by pandas and include one of our columns as index columns we can give input to parameter named 'index_col' the column number where starting column number is 0.

->blank values will be read as nan in pandas.but if we want replace missing values as NaN,then we have a parameter named 'na_values' which is a list that takes input of missing values and that values can be replaced with NaN.

->na_values: scalar, str, list-like, or dict, optional

Additional strings to recognize as NA/NaN. If dict passed, specific per-column NA values. By default the following values are interpreted as NaN: ‘’, ‘#N/A’, ‘#N/A N/A’, ‘#NA’, ‘-1.#IND’, ‘-1.#QNAN’, ‘-NaN’, ‘-nan’, ‘1.#IND’, ‘1.#QNAN’, ‘<NA>’, ‘N/A’, ‘NA’, ‘NULL’, ‘NaN’, ‘n/a’, ‘nan’, ‘null’.
    
-> **if we want other than the default values to be considered as NaN we should give that input to na_values parameter**

In [1]:
import pandas as pd

df = pd.read_csv('pokemon_data.csv',index_col=2)
print(df)
df = pd.read_csv('pokemon_data.csv')
df

           #                   Name  Type 2  HP  Attack  Defense  Sp. Atk  \
Type 1
Grass      1              Bulbasaur  Poison  45      49       49       65
Grass      2                Ivysaur  Poison  60      62       63       80
Grass      3               Venusaur  Poison  80      82       83      100
Grass      3  VenusaurMega Venusaur  Poison  80     100      123      122
Fire       4             Charmander     NaN  39      52       43       60
...      ...                    ...     ...  ..     ...      ...      ...
Rock     719                Diancie   Fairy  50     100      150      100
Rock     719    DiancieMega Diancie   Fairy  50     160      110      160
Psychic  720    HoopaHoopa Confined   Ghost  80     110       60      150
Psychic  720     HoopaHoopa Unbound    Dark  80     160       60      170
Fire     721              Volcanion   Water  80     110      120      130

         Sp. Def  Speed  Generation  Legendary
Type 1
Grass         65     45           1      False
Grass         80     60           1      False
Grass        100     80           1      False
Grass        120     80           1      False
Fire          50     65           1      False
...          ...    ...         ...        ...
Rock         150     50           6       True
Rock         110    110           6       True
Psychic      130     70           6       True
Psychic      130     80           6       True
Fire          90     70           6       True

[800 rows x 11 columns]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

## pandas.DataFrame.dropna():
-> DataFrame.dropna(*, axis=0, how=_NoDefault.no_default, thresh=_NoDefault.no_default, subset=None, inplace=False
-> Removes missing values.

Parameters:
->'axis': {0 or ‘index’, 1 or ‘columns’}, default 0
Determine if rows or columns which contain missing values are removed.

0, or ‘index’ : Drop rows which contain missing values.

1, or ‘columns’ : Drop columns which contain missing value.

->how: {‘any’, ‘all’} default ‘any’
Determine if row or column is removed from DataFrame, when we have at least one NA or all NA.

‘any’ : If any NA values are present, drop that row or column.

‘all’ : If all values are NA, drop that row or column.

-> 'thresh':int, optional
Require that many non-NA values. Cannot be combined with how.

->'subset':column label or sequence of labels, optional
Labels along other axis to consider, e.g. if you are dropping rows these would be a list of columns to include.

->'inplace': bool, default False
Whether to modify the DataFrame rather than creating a new one.

->Returns:DataFrame or None

DataFrame with NA entries dropped from it or None if inplace=True.

In [2]:
import pandas as pd
import numpy as np
df_dna = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
                   "toy": [np.nan, 'Batmobile', 'Bullwhip'],
                   "born": [pd.NaT, pd.Timestamp("1940-04-25"),
                            pd.NaT]})
print('original dataframe: \n',df_dna)
print()
print('using dropna() method with all default parameters: \n',df_dna.dropna())
print()
print('using dropna() method with how="all"(default is any) : \n',df_dna.dropna(how = 'all'))
#Drop the rows where all elements are missing.
print()
print('using dropna() method with thresh=2(cannot be combined with how)  : \n',df_dna.dropna(thresh = 2))
#remove only the rows with at least 2 NA values.
print()
print('using dropna() method with axis="columns"(default is axis="index")  : \n',
df_dna.dropna(axis='columns'))
print()
print('using dropna() method with subset = ["name","toy"](default is to consider all columns)  : \n',
df_dna.dropna(subset = ['name','toy']))
#Define in which columns to look for missing values.
# as we can see that born column is not considered , the row with na_value in that column is not dropped
print()
#Keep the DataFrame with valid entries in the same variable.
print('It printed None because it"s modified inplace: ',df_dna.dropna(inplace=True))
print(df_dna)

original dataframe:
        name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

using dropna() method with all default parameters:
      name        toy       born
1  Batman  Batmobile 1940-04-25

using dropna() method with how="all"(default is any) :
        name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

using dropna() method with thresh=2(cannot be combined with how)  :
        name        toy       born
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

using dropna() method with axis="columns"(default is axis="index")  :
        name
0    Alfred
1    Batman
2  Catwoman

using dropna() method with subset = ["name","toy"](default is to consider all columns)  :
        name        toy       born
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

It printed None because it"s modified inplace:  None
     name        toy       born
1  Batman  Batmobile 1940-04-25

->DataFrame.head(n)
The function head returns the first n rows from the dataframe
By default, the head() returns first 5 rows

->DataFrame.tail(n)
The function tail returns the last n rows from the dataframe
By default, the tail() returns last 5 rows

In [2]:
import pandas as pd
df = pd.read_csv('CAR DETAILS FROM CAR DEKHO.csv')

print(df.head())

print(df.tail())

                       name  year  selling_price  km_driven    fuel  \
0             Maruti 800 AC  2007          60000      70000  Petrol
1  Maruti Wagon R LXI Minor  2007         135000      50000  Petrol
2      Hyundai Verna 1.6 SX  2012         600000     100000  Diesel
3    Datsun RediGO T Option  2017         250000      46000  Petrol
4     Honda Amaze VX i-DTEC  2014         450000     141000  Diesel

  seller_type transmission         owner
0  Individual       Manual   First Owner
1  Individual       Manual   First Owner
2  Individual       Manual   First Owner
3  Individual       Manual   First Owner
4  Individual       Manual  Second Owner
                                     name  year  selling_price  km_driven  \
4335  Hyundai i20 Magna 1.4 CRDi (Diesel)  2014         409999      80000
4336           Hyundai i20 Magna 1.4 CRDi  2014         409999      80000
4337                  Maruti 800 AC BSIII  2009         110000      83000
4338     Hyundai Creta 1.6 CRDi SX Option  2016         865000      90000
4339                     Renault KWID RXT  2016         225000      40000

        fuel seller_type transmission         owner
4335  Diesel  Individual       Manual  Second Owner
4336  Diesel  Individual       Manual  Second Owner
4337  Petrol  Individual       Manual  Second Owner
4338  Diesel  Individual       Manual   First Owner
4339  Petrol  Individual       Manual   First Owner

-> pd.read_excel() function is used to read the data from the excel sheets which have .xlsx extension
and if there are group of sheets in one excel file. We can give the excel sheet name we want to parameter 'sheet_name'.

In [4]:
print(df.index)#The index (row labels) of the DataFrame.
print(len(df.index))#indictes no.of rows in the datset
# if we set index column other than the pandas given it won't return range() instead it will return
#dtypeIndex([values... of index column])
# '''Int64Index([ 45,  60,  80,  80,  39,  58,  78,  78,  78,  44,
#             ...
#              40,  85, 126, 126, 108,  50,  50,  80,  80,  80],
#            dtype='int64', name='HP', length=800)'''

RangeIndex(start=0, stop=4340, step=1)
4340

In [5]:
#Getting column names of dataset
#columns attribue of dataframe
print(df.columns)

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner'],
      dtype='object')

In [6]:
#method1 for getting column names of dataset
for col in df.columns:
    print(col)

name
year
selling_price
km_driven
fuel
seller_type
transmission
owner

In [7]:
#method2 for getting column names of dataset(easiest method)
print(list(df))
list(df.columns)

['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type', 'transmission', 'owner']

['name',
 'year',
 'selling_price',
 'km_driven',
 'fuel',
 'seller_type',
 'transmission',
 'owner']

In [8]:
#method3 for getting column names of dataset
print(df.columns.values)
print(type(df.columns.values))

print(df.columns.values.tolist())
print(type(df.columns.values.tolist()))

['name' 'year' 'selling_price' 'km_driven' 'fuel' 'seller_type'
 'transmission' 'owner']
<class 'numpy.ndarray'>
['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type', 'transmission', 'owner']
<class 'list'>

In [10]:
import pandas as pd
df_missing = pd.read_csv('churn.csv')
print(df_missing)
print(df_missing['TotalCharges'].isnull().sum())

     Unnamed: 0  customerID tenure        Contract PaperlessBilling  \
0             1  8260-NGFNY    One  Month-to-month               No
1             2  2359-QWQUL     39        One year              Yes
2             3  6598/RFFVI      2        One year               No
3             4  IXSTS-8780      6  Month-to-month              Yes
4             5  2674/MIAHT   Four  Month-to-month              Yes
..          ...         ...    ...             ...              ...
252         253  9318-NKNFC    One  Month-to-month              Yes
253         254  9067-SQTNS     44        One year               No
254         255  9067-SQTNS     44        One year               No
255         256  9067-SQTNS     44        One year               No
256         257  9067-SQTNS     44        One year               No

                 PaymentMethod  MonthlyCharges  TotalCharges  gender  \
0                 Mailed check           25.20         25.20  Female
1      Credit card (automatic)          104.70       4134.85  Female
2      Credit card (automatic)           19.30         28.30    Male
3             Electronic check           90.10        521.30  Female
4                 Mailed check           80.30        324.20  Female
..                         ...             ...           ...     ...
252               Mailed check           18.85         18.85    Male
253  Bank transfer (automatic)           20.60        926.00    Male
254  Bank transfer (automatic)           20.60        926.00    Male
255  Bank transfer (automatic)           20.60        926.00    Male
256  Bank transfer (automatic)           20.60        926.00    Male

     SeniorCitizen  ... PhoneService     MultipleLines InternetService  \
0              0.0  ...           No  No phone service             DSL
1              0.0  ...          Yes                No     Fiber optic
2              0.0  ...          Yes                No              No
3              0.0  ...          Yes               Yes     Fiber optic
4              0.0  ...          Yes               Yes     Fiber optic
..             ...  ...          ...               ...             ...
252            0.0  ...          Yes                No              No
253            0.0  ...          Yes                No              No
254            0.0  ...          Yes                No              No
255            0.0  ...          Yes                No              No
256            0.0  ...          Yes                No              No

          OnlineSecurity         OnlineBackup     DeviceProtection  \
0                     No                   No                   No
1                    Yes                   No                  Yes
2    No internet service  No internet service  No internet service
3                     No                  Yes                   No
4                     No                  Yes                   No
..                   ...                  ...                  ...
252  No internet service  No internet service  No internet service
253                  Yes                  Yes  No internet service
254                  Yes                  Yes  No internet service
255                  Yes                  Yes  No internet service
256                  Yes                  Yes  No internet service

             TechSupport          StreamingTV      StreamingMovies Churn
0                     No                   No                   No   Yes
1                    Yes                  Yes                  Yes   Yes
2    No internet service  No internet service  No internet service   Yes
3                     No                  Yes                   No   Yes
4                     No                   No                   No    No
..                   ...                  ...                  ...   ...
252  No internet service  No internet service  No internet service   Yes
253  No internet service                  Yes  No internet service    No
254  No internet service                  Yes  No internet service    No
255  No internet service                  Yes  No internet service    No
256  No internet service                  Yes  No internet service    No

[257 rows x 22 columns]
15

## df.info()
->Info About the Data The DataFrames object has a method called info()

->Print a concise summary of a DataFrame.

**This method prints information about a DataFrame including the
index dtype and columns and its dtype, non-null values in each column and memory usage**

## df.describe():
->**It produces an ouput dataframe which contains max,min,std,count,25,50,75 percentiles of columns which have number types**

-> Generate descriptive statistics of DataFrame columns.

In [11]:

print('info() function of pandas:\n',df.info())


print('\n describe() function of pandas \n',df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel           4340 non-null   object
 5   seller_type    4340 non-null   object
 6   transmission   4340 non-null   object
 7   owner          4340 non-null   object
dtypes: int64(3), object(5)
memory usage: 271.4+ KB
info() function of pandas:
 None

 describe() function of pandas
               year  selling_price      km_driven
count  4340.000000   4.340000e+03    4340.000000
mean   2013.090783   5.041273e+05   66215.777419
std       4.215344   5.785487e+05   46644.102194
min    1992.000000   2.000000e+04       1.000000
25%    2011.000000   2.087498e+05   35000.000000
50%    2014.000000   3.500000e+05   60000.000000
75%    2016.000000   6.000000e+05   90000.000000
max    2020.000000   8.900000e+06  806599.000000

## DataFrame.dtypes
Return the dtypes in the DataFrame.
(by default if any column contains the value NaN it will become object dtype)

->This returns a Series with the data type of each column. The result’s index is the original DataFrame’s columns. Columns with mixed types are stored with the object dtype. 

->Returns:pandas.Series
The data type of each column.

->DataFrame.dtypes.value_counts() function to get a count of each dtype in the dataframe. Here, we apply the pandas value_counts() function to the pandas series returned by the dtypes attribute.

### select_dtypes():
->DataFrame.select_dtypes(include=None, exclude=None)

->Parameters:include, exclude (scalar or list-like)
A selection of dtypes or strings to be included/excluded. At least one of these parameters must be supplied.

->Returns:DataFrame
The subset of the frame including the dtypes in include and excluding the dtypes in exclude.

->Raises: ValueError
If both of include and exclude are empty
If include and exclude have overlapping elements
If any kind of string dtype is passed in.

### Unique elements of column:
unique() function of numpy library is used to find the unique elements of a column.
syntax:numpy.unique(array)

In [37]:
import pandas as pd
import numpy as np
#prints each columns and it's data type as Series
print(df.dtypes)
print()
#prints the number of columns having the same datatype as Series
print(df.dtypes.value_counts())
print()
print(df['fuel'].value_counts())
print()
print(df['owner'].value_counts())
print()
print('unique values list in fuel column: ',np.unique(df['fuel']))
print('unique values list in seller_type: ',np.unique(df['seller_type']))
print('unique values list in transmission column: ',np.unique(df['transmission']))
#if we give return_counts = True to np.unique() function along with the unique values in that column as 
#seperate numpy array
unique_values,count=np.unique(df['owner'],return_counts = True)
print()
print('unique values in owner column and count of each unique values:',unique_values,count)
#we can either use value_counts or return_counts = True to np.unique() function which will
#give the count of each unique value in the column
print()
dfsd=df.select_dtypes(include='object')
print('dataframe with including object datatype columns only: \n',dfsd,'\n')
dfsd = df.select_dtypes(exclude='object')
print('dataframe with exclude object datatype columns only: \n',dfsd,'\n')
dfsd = pd.DataFrame({'a': [1, 2] * 3,
                   'b': [True, False] * 3,
                   'c': [1.0, 2.0] * 3})
print('dataframe:',dfsd,'\n')
print('including float64 and int64 in the above dataframe: \n',dfsd.select_dtypes(include=['float64','int64']))

name               object
year                int64
selling_price       int64
km_driven           int64
fuel               object
seller_type        object
transmission     category
owner              object
dtype: object

object      4
int64       3
category    1
dtype: int64

Diesel      2153
Petrol      2123
CNG           40
LPG           23
Electric       1
Name: fuel, dtype: int64

First Owner             2832
Second Owner            1106
Third Owner              304
Fourth & Above Owner      81
Test Drive Car            17
Name: owner, dtype: int64

unique values list in fuel column:  ['CNG' 'Diesel' 'Electric' 'LPG' 'Petrol']
unique values list in seller_type:  ['Dealer' 'Individual' 'Trustmark Dealer']
unique values list in transmission column:  ['Automatic' 'Manual']

unique values in owner column and count of each unique values: ['First Owner' 'Fourth & Above Owner' 'Second Owner' 'Test Drive Car'
 'Third Owner'] [2832   81 1106   17  304]

dataframe with including object datatype columns only:
                                      name    fuel seller_type         owner
0                           Maruti 800 AC  Petrol  Individual   First Owner
1                Maruti Wagon R LXI Minor  Petrol  Individual   First Owner
2                    Hyundai Verna 1.6 SX  Diesel  Individual   First Owner
3                  Datsun RediGO T Option  Petrol  Individual   First Owner
4                   Honda Amaze VX i-DTEC  Diesel  Individual  Second Owner
...                                   ...     ...         ...           ...
4335  Hyundai i20 Magna 1.4 CRDi (Diesel)  Diesel  Individual  Second Owner
4336           Hyundai i20 Magna 1.4 CRDi  Diesel  Individual  Second Owner
4337                  Maruti 800 AC BSIII  Petrol  Individual  Second Owner
4338     Hyundai Creta 1.6 CRDi SX Option  Diesel  Individual   First Owner
4339                     Renault KWID RXT  Petrol  Individual   First Owner

[4340 rows x 4 columns]

dataframe with exclude object datatype columns only:
       year  selling_price  km_driven transmission
0     2007          60000      70000       Manual
1     2007         135000      50000       Manual
2     2012         600000     100000       Manual
3     2017         250000      46000       Manual
4     2014         450000     141000       Manual
...    ...            ...        ...          ...
4335  2014         409999      80000       Manual
4336  2014         409999      80000       Manual
4337  2009         110000      83000       Manual
4338  2016         865000      90000       Manual
4339  2016         225000      40000       Manual

[4340 rows x 4 columns]

dataframe:    a      b    c
0  1   True  1.0
1  2  False  2.0
2  1   True  1.0
3  2  False  2.0
4  1   True  1.0
5  2  False  2.0

including float64 and int64 in the above dataframe:
    a    c
0  1  1.0
1  2  2.0
2  1  1.0
3  2  2.0
4  1  1.0
5  2  2.0

Manual       3892
Automatic     448
Name: transmission, dtype: int64

# DataFrame or Series.value_counts():
->DataFrame.value_counts(subset=None, normalize=False, sort=True, ascending=False, dropna=True)

Parameters:
->'subset' :list-like, optional
Columns to use when counting unique combinations.

-->'normalize':bool, default False
Return proportions rather than frequencies.
normalize argument is used to count the relative frequency of unique values in a pandas dataframe or series.

->'sort':bool, default True
Sort by frequencies.

->'ascending': bool, default False
Sorts in ascending order.

->'dropna' :bool, default True
Don’t include counts of rows that contain NA values.

-> Return a Series containing counts of unique rows in the DataFrame.
## extra feature for pandas.Series for value_counts() method:
-> 'bins':int, optional
Rather than count values, group them into half-open bins, a convenience for pd.cut, only works with numeric data.

->bins can be useful for going from a continuous variable to a categorical variable; instead of counting unique apparitions of values, divide the index in the specified number of half-open bins.

In [13]:
import pandas as pd
#creating dataframe for using value_counts() method 
df_vc_ex = pd.DataFrame({'num_legs': [2, 4, 4, 6],
                   'num_wings': [2, 0, 0, 0]},
                  index=['falcon', 'dog', 'cat', 'ant'])
print('original dataframe: \n',df_vc_ex,'\n')
print('dataframe with value_counts() used with no parameters passed: \n',df_vc_ex.value_counts())
print()
#it defaults to sort in descending order with highest frequency on the top.
print('dataframe with value_counts() with sort = False: \n',df_vc_ex.value_counts(sort=False))
print()
print('dataframe with value_counts() with ascending = True: \n',df_vc_ex.value_counts(ascending = True))
print()
print('dataframe with value_counts() with normalize = True: \n',df_vc_ex.value_counts(normalize=True))
df_vc_na_ex = pd.DataFrame({'first_name': ['John', 'Anne', 'John', 'Beth'],
                   'middle_name': ['Smith', pd.NA, pd.NA, 'Louise']})
print()
print('original dataframe to demonstrate dropna parameter: \n',df_vc_na_ex)
print()
print('dropna = False: \n',df_vc_na_ex.value_counts(dropna=False))
print()
print('bins parameter only in pandas.Series : \n')
my_series = pd.Series([3, 3, 3, 3, 4, 4, 7, 7, 8, 9])

#count occurrences of unique values in Series
my_series.value_counts(bins=3)

original dataframe:
         num_legs  num_wings
falcon         2          2
dog            4          0
cat            4          0
ant            6          0

dataframe with value_counts() used with no parameters passed:
 num_legs  num_wings
4         0            2
2         2            1
6         0            1
dtype: int64

dataframe with value_counts() with sort = False:
 num_legs  num_wings
2         2            1
4         0            2
6         0            1
dtype: int64

dataframe with value_counts() with ascending = True:
 num_legs  num_wings
2         2            1
6         0            1
4         0            2
dtype: int64

dataframe with value_counts() with normalize = True:
 num_legs  num_wings
4         0            0.50
2         2            0.25
6         0            0.25
dtype: float64

original dataframe to demonstrate dropna parameter:
   first_name middle_name
0       John       Smith
1       Anne        <NA>
2       John        <NA>
3       Beth      Louise

dropna = False:
 first_name  middle_name
Anne        NaN            1
Beth        Louise         1
John        Smith          1
            NaN            1
dtype: int64

bins parameter only in pandas.Series :

(2.9930000000000003, 5.0]    6
(5.0, 7.0]                   2
(7.0, 9.0]                   2
dtype: int64

## pandas.Series.nbytes

->Return the number of bytes in the underlying data.

In [19]:
print('number of bytes of fuel column: with category as datatype: ',df['fuel'].astype('category').nbytes)
print()
print('number of bytes of fuel column: with object as datatype: ',df['fuel'].nbytes)
print()
print(pd.crosstab(index = df['transmission'],columns = df['fuel'] , dropna = True))

number of bytes of fuel column: with category as datatype:  4380

number of bytes of fuel column: with object as datatype:  34720

fuel          CNG  Diesel  Electric  LPG  Petrol
transmission
Automatic       0     254         1    0     193
Manual         40    1899         0   23    1930

# pandas.DataFrame.astype()

### This is useful when found out that if anyone of the datatype is read incorrectly and  we can correct it by using astype() method by converting to the data type we want

-> DataFrame.astype(dtype, copy=True, errors='raise')
Cast a pandas object to a specified dtype dtype.

->Parameters
'dtype': data type, or dict of column name -> data type

Use a numpy.dtype or Python type to cast entire pandas object to the same type. Alternatively, use {col: dtype, …}, where col is a column label and dtype is a numpy.dtype or Python type to cast one or more of the DataFrame’s columns to column-specific types.

->'copy':bool, default True
Return a copy when copy=True (be very careful setting copy=False as changes to values then may propagate to other pandas objects).

->'errors': {‘raise’, ‘ignore’}, default ‘raise’
Control raising of exceptions on invalid data for provided dtype.

raise : allow exceptions to be raised

ignore : suppress exceptions. On error return original object.

->Returns: casted same type as caller

In [21]:
import pandas as pd
d = {'col1': [1, 2], 'col2': [3, 4]}
df_at = pd.DataFrame(data=d)
print('before using astype: \n',df_at.dtypes)
print()
print('converting every column to int32: \n',df_at.astype('int32').dtypes)
print()
print('converting only column1(col1) to int32 using dictionary as input to astype() method: \n'
,df_at.astype({'col1':'int32'}).dtypes)
print()

#as it's copy = True we can assign to the same column or row using loc or iloc to reflect the 
#dtypes change in original dataframe
df_at['col1'] = df_at['col1'].astype('category')
print(df_at.dtypes)

before using astype:
 col1    int64
col2    int64
dtype: object

converting every column to int32:
 col1    int32
col2    int32
dtype: object

converting only column1(col1) to int32 using dictionary as input to astype() method:
 col1    int32
col2    int64
dtype: object

col1    category
col2       int64
dtype: object

## DataFrame.pop(item)
->Returns the item and drops from frame. Raise KeyError if not found.

->Parameters: itemlabel(Label of column to be popped).

->Returns: Series

In [20]:
import pandas as pd
import numpy as np
df_pop_ex = pd.DataFrame([('falcon', 'bird', 389.0),
                   ('parrot', 'bird', 24.0),
                   ('lion', 'mammal', 80.5),
                   ('monkey', 'mammal', np.nan)],
                  columns=('name', 'class', 'max_speed'))
print(df_pop_ex.pop('class'))
df_pop_ex

0      bird
1      bird
2    mammal
3    mammal
Name: class, dtype: object

     name  max_speed
0  falcon      389.0
1  parrot       24.0
2    lion       80.5
3  monkey        NaN

## pandas.DataFrame.insert()
-> DataFrame.insert(loc, column, value, allow_duplicates=_NoDefault.no_default)

->Inserts column into DataFrame at specified location.

->Raises a ValueError if column is already contained in the DataFrame, unless allow_duplicates is set to True.

->Parameters:
->'loc':int
Insertion index. Must verify 0 <= loc <= len(columns).

->'column':str, number, or hashable object
Label of the inserted column.

->'value':Scalar, Series, or array-like

->'allow_duplicates':bool, optional, default lib.no_default

In [22]:
import pandas as pd
df_ins = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})
print('original dataframe: \n',df_ins)
print()
df_ins.insert(1, "newcol", [99, 99])
print('inserting new column at 1 i.e 2nd column: \n',df_ins)
print()
df_ins.insert(0, "col1", [100, 100], allow_duplicates=True)
print('inserting column with same name with allow_duplicates = True: \n',
df_ins)
#Notice that pandas uses index alignment in case of value from type Series:
df_ins.insert(0, "col0", pd.Series([5, 6],index = [1,2]))
print()
print('using series as the value argument which uses index alignment and places values in same index in df\n'
,df_ins)

original dataframe:
    col1  col2
0     1     3
1     2     4

inserting new column at 1 i.e 2nd column:
    col1  newcol  col2
0     1      99     3
1     2      99     4

inserting column with same name with allow_duplicates = True:
    col1  col1  newcol  col2
0   100     1      99     3
1   100     2      99     4

using series as the value argument which uses index alignment and places values in same index in df
    col0  col1  col1  newcol  col2
0   NaN   100     1      99     3
1   5.0   100     2      99     4

## pandas.crosstab() function
pandas.crosstab(index, columns, values=None, rownames=None, colnames=None, aggfunc=None, margins=False, margins_name='All', dropna=True, normalize=False)
->Compute a simple cross tabulation of one,two (or more) factors.

->By default, computes a frequency table of the factors unless an array of values and an aggregation function are passed.

->Parameters
'index':array-like, Series, or list of arrays/Series
Values to group by in the rows.

'columns':array-like, Series, or list of arrays/Series
Values to group by in the columns.

->'values':array-like, optional
Array of values to aggregate according to the factors. Requires aggfunc be specified.

->'rownames':sequence, default None
If passed, must match number of row arrays passed.

->'colnames':sequence, default None
If passed, must match number of column arrays passed.

->'aggfunc':function, optional
If specified, requires values be specified as well.

->'margins':bool, default False
Add row/column margins (subtotals).

->'margins_name':str, default ‘All’
Name of the row/column that will contain the totals when margins is True.

->'dropna':bool, default True
Do not include columns whose entries are all NaN.

->'normalize':bool, {‘all’, ‘index’, ‘columns’}, or {0,1}, default False
Normalize by dividing all values by the sum of values.

If passed ‘all’ or True, will normalize over all values.

If passed ‘index’ will normalize over each row.

If passed ‘columns’ will normalize over each column.

If margins is True, will also normalize margin values.

->Returns: DataFrame
Cross tabulation of the data.

-> Used for finding frequency distribition and joint,marginal and conditional distributions of two categorical variables.

In [13]:
import pandas as pd
import numpy as np
print('frequency of each fuel type excluding NA values:\n',pd.crosstab(index=df["fuel"]
,columns='count',dropna = True))
print()
#same can be done for seeing frequency distribution of single variables using value_counts() methods
#which by default sorts in descending order.
print('frequency of each fuel type excluding NA values using value_counts() method \n'
,df['fuel'].value_counts())
#main use of pd.crosstab() method is to form two-way tables which we can find distribution of one 
#categorical variable with respect to another catogerical variable.
print()
print('frequency distribution of transmission with respect to fuel type:\n',
pd.crosstab(index=df['transmission'],columns=df['fuel']))
print()
print('frequency distribution of transmission with respect to fuel type with margins = True:\n',
pd.crosstab(index=df['transmission'],columns=df['fuel'],margins = True,margins_name='Total'))
print()
#so above we have seen frequency distribution of transmission with respect to fuel type in terms of 
#numbers , so we can also see it in terms of proportion which we can calculate probabilities.

#'Joint Probability' : It is the likelihood of two independent events happening at the same time.
#to get that , we just have to give normalize = True
print('Joint probability of fuel type and transmission using normalize = True: \n'
,pd.crosstab(index=df['transmission'],columns=df['fuel'],normalize= True))
print()
print('so from the above two-way table we can interpret that probability of a car being automatic',
'transmission and fuel type cng or lpg is 0 and some other interpretations')
#https://www.statology.org/likelihood-vs-probability/
#https://www.khanacademy.org/math/ap-statistics/analyzing-categorical-ap
print()
print('Marginal probability of fuel type and transmission using normalize = True and margins = True: \n'
,pd.crosstab(index=df['transmission'],columns=df['fuel'],normalize= True,margins = True))
print()
#Marginal probability is the probability of the occurance of the single event.
print('So from the above table we can get marginal probability of each category in both variables against', 
'the categories in another categorical variable: like we can say the marginal probability of car being',
'CNG is 0.009217 where it can be automatic or manual transmission')
print('In Marginal probability the sum of last row and column probability is 1')
print()
#Conditional probability is the probability of event 'A' given the event 'B' has already occured.
#normalize = True means it will normaize both columns and rows 
#to produce conditional probability table, we use normalize = 'index' or 'columns' depending on the result
#we want.So, in this case we want to get conditional probability of fueltype given the transmission
#is manual or automatic.Therefor we give the event that has occured(index or column) to 'normalize' parameter.
print('Conditional probability of fuel type given transmission using normalize = "index" and margins = True: \n'
,pd.crosstab(index=df['transmission'],columns=df['fuel'],normalize= 'index',margins = True))
print()
print('so the above table is about given the transmission conditional probability of fuel type:\n',
'so given the car is automatic transmission the conditional probability of fuel type cng and lpg is 0')
print('In conditional probability each row or column sums to 1 depending upon the parameter we give to\n',
'normalize.In the last row here given transmission is either manual or automatic.The conditional probability\n'
,'of car fuel type being diesel is 0.496083 and likewise we can see other probabilities as well')

frequency of each fuel type excluding NA values:
 col_0     count
fuel
CNG          40
Diesel     2153
Electric      1
LPG          23
Petrol     2123

frequency of each fuel type excluding NA values using value_counts() method
 Diesel      2153
Petrol      2123
CNG           40
LPG           23
Electric       1
Name: fuel, dtype: int64

frequency distribution of transmission with respect to fuel type:
 fuel          CNG  Diesel  Electric  LPG  Petrol
transmission
Automatic       0     254         1    0     193
Manual         40    1899         0   23    1930

frequency distribution of transmission with respect to fuel type with margins = True:
 fuel          CNG  Diesel  Electric  LPG  Petrol  Total
transmission
Automatic       0     254         1    0     193    448
Manual         40    1899         0   23    1930   3892
Total          40    2153         1   23    2123   4340

Joint probability of fuel type and transmission using normalize = True:
 fuel               CNG    Diesel  Electric     LPG   Petrol
transmission
Automatic     0.000000  0.058525   0.00023  0.0000  0.04447
Manual        0.009217  0.437558   0.00000  0.0053  0.44470

so from the above two-way table we can interpret that probability of a car being automatic transmission and fuel type cng or lpg is 0 and some other interpretations

Marginal probability of fuel type and transmission using normalize = True and margins = True:
 fuel               CNG    Diesel  Electric     LPG    Petrol       All
transmission
Automatic     0.000000  0.058525   0.00023  0.0000  0.044470  0.103226
Manual        0.009217  0.437558   0.00000  0.0053  0.444700  0.896774
All           0.009217  0.496083   0.00023  0.0053  0.489171  1.000000

So from the above table we can get marginal probability of each category in both variables against the categories in another categorical variable: like we can say the marginal probability of car being CNG is 0.009217 where it can be automatic or manual transmission
In Marginal probability the sum of last row and column probability is 1

Conditional probability of fuel type given transmission using normalize = "index" and margins = True:
 fuel               CNG    Diesel  Electric      LPG    Petrol
transmission
Automatic     0.000000  0.566964  0.002232  0.00000  0.430804
Manual        0.010277  0.487924  0.000000  0.00591  0.495889
All           0.009217  0.496083  0.000230  0.00530  0.489171

so the above table is about given the transmission conditional probability of fuel type:
 so given the car is automatic transmission the conditional probability of fuel type cng and lpg is 0
In conditional probability each row or column sums to 1 depending upon the parameter we give to
 normalize.In the last row here given transmission is either manual or automatic.The conditional probability
 of car fuel type being diesel is 0.496083 and likewise we can see other probabilities as well

## pandas.DataFrame.corr
DataFrame.corr(method='pearson', min_periods=1, numeric_only=_NoDefault.no_default)
Compute pairwise correlation of columns, excluding NA/null values.
Compute pairwise correlation of columns, excluding NA/null values.

->Parameters:
->'method':{‘pearson’, ‘kendall’, ‘spearman’} or callable
Method of correlation:

pearson : standard correlation coefficient

kendall : Kendall Tau correlation coefficient

spearman : Spearman rank correlation

callable: callable with input two 1d ndarrays
and returning a float. Note that the returned matrix from corr will have 1 along the diagonals and will be symmetric regardless of the callable’s behavior.

->'min_periods':int, optional
Minimum number of observations required per pair of columns to have a valid result. Currently only available for Pearson and Spearman correlation.

->'numeric_only':bool, default True
Include only float, int or boolean data(new in version 1.5.0 and Deprecated since version 1.5.0: The default value of numeric_only will be False in a future version of pandas.)

->Returns:DataFrame which represents a Correlation matrix.

In [13]:
print(pd.__version__)
corr = df.corr()
print(corr)

1.4.4
                   year  selling_price  km_driven
year           1.000000       0.413922  -0.419688
selling_price  0.413922       1.000000  -0.192289
km_driven     -0.419688      -0.192289   1.000000

# Indexing and selecting data
-> Python's slicing operator [] and attribute/'.' dot operator are used for indexing.

-> at and iat functions of pandas.

To access a scalar value from the dataframe in the fastest way, we can use .at(),.iat() methods.

->.at() provides (row and column)label-based scalar lookups.
->.iat() provides integer-based scalar lookups.

->at(row_label,column_label) provides the scalar output based on the row_label and column_label provided as input.
->iat(row_number,column_number) where row and column numbers start from 0.

->group of rows and columns can be accessed through loc and iloc functions of pandas.
df.loc(rows,columns)
    rows represent the rows to be selected, ':'  represents all rows to be selected.
    columns represent the columns to be selected, we can give ['column1','column2' etc...] as input to selct the number of columns through list.
    
-> .loc[] is primarily label based, but may also be used with a boolean array.

Allowed inputs for loc[] are:

1.A single label, e.g. 5 or 'a', (note that 5 is interpreted as a label of the index, and never as an integer position along the index).

2.A list or array of labels, e.g. ['a', 'b', 'c'].

3.A slice object with labels, e.g. 'a':'f'.(Note: unlike python slices , it includes the stop value also)

4.A boolean array of the same length as the axis being sliced, e.g. [True, False, True].

5.An alignable boolean Series. The index of the key will be aligned before masking.

6.An alignable Index. The Index of the returned selection will be the input.

7.A callable function with one argument (the calling Series or DataFrame) and that returns valid output for indexing (one of the above)

In [23]:
#df.loc[] exammples:
import pandas as pd
df_loc_ex = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])
print(df_loc_ex)
print()
# giving loc[] Single row label as input. Note this returns the row as a Series.
print(df_loc_ex.loc['viper'])
print()
#giving loc[] multiple row label as input in the form of list returns a DataFrame.
print(df_loc_ex.loc[['cobra','viper']])
print()
#giving Single label for row and column as input.
print('cobra"s max_speed: ',df_loc_ex.loc['cobra','max_speed'])
print()
#Slice with labels for row and single label for column. As mentioned above,
#note that both the start and stop of the slice are included.
print(df_loc_ex.loc['cobra':'viper', 'max_speed'])
print()
#Boolean list with the same length as the row axis
print(df_loc_ex[[True,False,True]])

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

max_speed    4
shield       5
Name: viper, dtype: int64

       max_speed  shield
cobra          1       2
viper          4       5

cobra"s max_speed:  1

cobra    1
viper    4
Name: max_speed, dtype: int64

            max_speed  shield
cobra               1       2
sidewinder          7       8

In [24]:
#filtering the data using regex in str.contains() method
import re
df_Hyundai = df.loc[df['name'].str.contains(pat = r'Hyundai',flags = re.I,regex = True)]

df_Hyundai

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
6,Hyundai Xcent 1.2 Kappa S,2016,550000,25000,Petrol,Individual,Manual,First Owner
8,Hyundai Creta 1.6 VTVT S,2015,850000,25000,Petrol,Individual,Manual,First Owner
15,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
19,Hyundai Xcent 1.2 Kappa S,2016,550000,25000,Petrol,Individual,Manual,First Owner
...,...,...,...,...,...,...,...,...
4306,Hyundai i10 Sportz 1.2,2011,235000,43100,Petrol,Dealer,Manual,First Owner
4322,Hyundai Verna 1.6 SX CRDi (O),2013,500000,120000,Diesel,Individual,Manual,First Owner
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner

## pandas.DataFrame.replace() method
-> DataFrame.replace(to_replace=None, value=_NoDefault.no_default, *, inplace=False, limit=None, regex=False, method=_NoDefault.no_default)

->Replace values given in to_replace with value.

Values of the DataFrame are replaced with other values dynamically.

This differs from updating with .loc or .iloc, which require you to specify a location to update with some value.

->Parameters
'to_replace':str, regex, list, dict, Series, int, float, or None
How to find the values that will be replaced.

->numeric, str or regex:

-numeric: numeric values equal to to_replace will be replaced with value

-str: string exactly matching to_replace will be replaced with value

-regex: regexs matching to_replace will be replaced with value

->list of str, regex, or numeric:

-First, if to_replace and value are both lists, they must be the same length.

-Second, if regex=True then all of the strings in both lists will be interpreted as regexs otherwise they will match directly. This doesn’t matter much for value since there are only a few possible substitution regexes you can use.

str, regex and numeric rules apply as above.

->dict:

-Dicts can be used to specify different replacement values for different existing values. For example, {'a': 'b', 'y': 'z'} replaces the value ‘a’ with ‘b’ and ‘y’ with ‘z’. To use a dict in this way, the optional value parameter should not be given.

-For a DataFrame a dict can specify that different values should be replaced in different columns. For example, {'a': 1, 'b': 'z'} looks for the value 1 in column ‘a’ and the value ‘z’ in column ‘b’ and replaces these values with whatever is specified in value. The value parameter should not be None in this case. You can treat this as a special case of passing two lists except that you are specifying the column to search in.

-For a DataFrame nested dictionaries, e.g., {'a': {'b': np.nan}}, are read as follows: look in column ‘a’ for the value ‘b’ and replace it with NaN. The optional value parameter should not be specified to use a nested dict in this way. You can nest regular expressions as well. Note that column names (the top-level dictionary keys in a nested dictionary) cannot be regular expressions.

->None:

This means that the regex argument must be a string, compiled regular expression, or list, dict, ndarray or Series of such elements. If value is also None then this must be a nested dictionary or Series.

See the examples section for examples of each of these.

->'value':scalar, dict, list, str, regex, default None
Value to replace any values matching to_replace with. For a DataFrame a dict of values can be used to specify which value to use for each column (columns not in the dict will not be filled). Regular expressions, strings and lists or dicts of such objects are also allowed.

->'inplace':bool, default False
Whether to modify the DataFrame rather than creating a new one.

'limit':int, default None
Maximum size gap to forward or backward fill.

->'regex':bool or same types as to_replace, default False
Whether to interpret to_replace and/or value as regular expressions. If this is True then to_replace must be a string. Alternatively, this could be a regular expression or a list, dict, or array of regular expressions in which case to_replace must be None.

->'method':{‘pad’, ‘ffill’, ‘bfill’}
The method to use when for replacement, when to_replace is a scalar, list or tuple and value is None.

Changed in version 0.23.0: Added to DataFrame.

->Returns:DataFrame
Object after replacement.

In [34]:
import pandas as pd
import numpy as np
#Scalar: `to_replace` and `value`
s_re = pd.Series([1, 2, 3, 4, 5])
print('original series:\n',s_re)
print()
print('replacing 1 with 5 in series: \n',s_re.replace(to_replace=1,value=5))
df_re = pd.DataFrame({'A': [0, 1, 2, 3, 4],
                   'B': [5, 6, 7, 8, 9],
                   'C': ['a', 'b', 'c', 'd', 'e']})
print()
print('original dataframe: \n',df_re)
print()
print('replacing 0 with 5 in dataframe: \n',df_re.replace(to_replace = 0,value = 5))
print()

#List-like `to_replace`
print('replacing 0,1,2,3 with 4 in the dataframe: \n',df_re.replace(to_replace=[0, 1, 2, 3],value= 4))
print()
print('replacing 0,1,2,3 with 4,3,2,1 respectively in the dataframe: \n',
df_re.replace(to_replace= [0, 1, 2, 3], value = [4, 3, 2, 1]))
print()
print('replacing 1,3,4 with method bfill which is backward fill in series: \n',
s_re.replace([1,3,4], method='bfill'))

original series:
 0    1
1    2
2    3
3    4
4    5
dtype: int64

replacing 1 with 5 in series:
 0    5
1    2
2    3
3    4
4    5
dtype: int64

original dataframe:
    A  B  C
0  0  5  a
1  1  6  b
2  2  7  c
3  3  8  d
4  4  9  e

replacing 0 with 5 in dataframe:
    A  B  C
0  5  5  a
1  1  6  b
2  2  7  c
3  3  8  d
4  4  9  e

replacing 0,1,2,3 with 4 in the dataframe:
    A  B  C
0  4  5  a
1  4  6  b
2  4  7  c
3  4  8  d
4  4  9  e

replacing 0,1,2,3 with 4,3,2,1 respectively in the dataframe:
    A  B  C
0  4  5  a
1  3  6  b
2  2  7  c
3  1  8  d
4  4  9  e

replacing 1,3,4 with method bfill which is backward fill in series:
 0    2
1    2
2    5
3    5
4    5
dtype: int64

In [26]:
#dict-like `to_replace`
print('original dataframe: \n',df_re)
print()
print('using dictionary as argument to to_replace which replaces 0 with 10 and 1 with 100: \n',
df_re.replace(to_replace={0: 10, 1: 100}))
print()
print('using dictionary as arg to replace 0 in A column with 100 and 5 in B column with 100:\n',
df_re.replace(to_replace={'A': 0, 'B': 5},value =100))
print()
print('using nested dictinary as arg to replace 0 with 100 and 4 with 400 in column A of dataframe: \n',
df_re.replace(to_replace={'A': {0: 100, 4: 400}}))

original dataframe:
    A  B  C
0  0  5  a
1  1  6  b
2  2  7  c
3  3  8  d
4  4  9  e

using dictionary as argument to to_replace which replaces 0 with 10 and 1 with 100:
      A  B  C
0   10  5  a
1  100  6  b
2    2  7  c
3    3  8  d
4    4  9  e

using dictionary as arg to replace 0 in A column with 100 and 5 in B column with 100:
      A    B  C
0  100  100  a
1    1    6  b
2    2    7  c
3    3    8  d
4    4    9  e

using nested dictinary as arg to replace 0 with 100 and 4 with 400 in column A of dataframe:
      A  B  C
0  100  5  a
1    1  6  b
2    2  7  c
3    3  8  d
4  400  9  e

In [30]:
#Regular expression `to_replace`
df_reg = pd.DataFrame({'A': ['bat', 'foo', 'bait'],
                   'B': ['abc', 'bar', 'xyz']})
print('original dataframe: \n',df_reg)
print()
print('replacing regex ba(any charcter) with new:\n',
df_reg.replace(to_replace=r'^ba.$', value='new', regex=True))
print()
print('replacing ba. with new in column A \n',
df_reg.replace(to_replace ={'A': r'^ba.$'},value ='new', regex=True))
print()
#we can give the to_replace value to regex with to_replace defaulting to None , So to_replace with regex
#and regex=True is same as giving regex = the values that should be given to t0_replace and leaving it.
print('giving regex  to_replace: \n',df_reg.replace(regex=r'^ba.$', value='new'))
print()
print('replacing ba. with new and foo with xyz in regex: \n',
df_reg.replace(regex={r'^ba.$': 'new', 'foo': 'xyz'}))
print()
print('replacing ba. and foo with new in regex \n',df_reg.replace(regex=[r'^ba.$', 'foo'], value='new'))

# ''''''When value is not explicitly passed and to_replace is a scalar, list or tuple, replace uses the 
# method parameter (default ‘pad’) to do the replacement. So this is why the ‘a’ values are 
# being replaced by 10 in rows 1 and 2 and ‘b’ in row 4 in this case.
# When value is not explicitly passed and to_replace is a scalar, list or tuple,
# replace uses the method parameter (default ‘pad’)pad ='ffill' to do the replacement.
# So this is why the ‘a’ values are being replaced by 10 in rows 1 and 2 and ‘b’ in row 4 in this case.''''''
s_de = pd.Series([10, 'a', 'a', 'b', 'a'])
print()
print('original series: \n',s_de)
print('replacing "a" without value argument, which does with pad(ffill) method by default\n',
s_de.replace('a'))

original dataframe:
       A    B
0   bat  abc
1   foo  bar
2  bait  xyz

replacing regex ba(any charcter) with new:
       A    B
0   new  abc
1   foo  new
2  bait  xyz

replacing ba. with new in column A
       A    B
0   new  abc
1   foo  bar
2  bait  xyz

giving regex  to_replace:
       A    B
0   new  abc
1   foo  new
2  bait  xyz

replacing ba. with new and foo with xyz in regex:
       A    B
0   new  abc
1   xyz  new
2  bait  xyz

replacing ba. and foo with new in regex
       A    B
0   new  abc
1   new  new
2  bait  xyz

original series:
 0    10
1     a
2     a
3     b
4     a
dtype: object
replacing "a" without value argument, which does with pad(ffill) method by default
 0      10
1    None
2    None
3       b
4    None
dtype: object
object

Groupby in pandas:

Groupby mainly refers to a process involving one or more of the following steps they are: 
 
Splitting : It is a process in which we split data into group by applying some conditions on datasets.

Applying : It is a process in which we apply a function to each group independently

Combining : It is a process in which we combine different datasets after applying groupby and results into a data structure

In [28]:
#using groupby in df to obtain the sum,mean,count,min,max
print(df_Hyundai.groupby(['name']).max())
print(df.groupby(['year']).count())
print(df.groupby('fuel').count())
print(df.groupby('transmission').count()[['name']])

                                     year  selling_price  km_driven    fuel  \
name
Hyundai Accent CRDi                  2006         170000     245244  Diesel
Hyundai Accent Executive             2013         200000     100000  Petrol
Hyundai Accent Executive CNG         2012         185000     110000     CNG
Hyundai Accent GLE                   2009         114999     106000  Petrol
Hyundai Accent GLE 1                 1999          60000      90000  Petrol
...                                   ...            ...        ...     ...
Hyundai i20 Magna Optional 1.4 CRDi  2013         420000     100000  Diesel
Hyundai i20 Sportz 1.2               2017         700000      90000  Petrol
Hyundai i20 Sportz 1.4 CRDi          2018         750000     110000  Diesel
Hyundai i20 Sportz Option 1.2        2016         475000      25000  Petrol
Hyundai i20 Sportz Petrol            2010         250000      40000  Petrol

                                    seller_type transmission  \
name
Hyundai Accent CRDi                  Individual       Manual
Hyundai Accent Executive             Individual       Manual
Hyundai Accent Executive CNG         Individual       Manual
Hyundai Accent GLE                   Individual       Manual
Hyundai Accent GLE 1                 Individual       Manual
...                                         ...          ...
Hyundai i20 Magna Optional 1.4 CRDi  Individual       Manual
Hyundai i20 Sportz 1.2               Individual       Manual
Hyundai i20 Sportz 1.4 CRDi          Individual       Manual
Hyundai i20 Sportz Option 1.2        Individual       Manual
Hyundai i20 Sportz Petrol            Individual       Manual

                                                    owner
name
Hyundai Accent CRDi                           Third Owner
Hyundai Accent Executive                      Third Owner
Hyundai Accent Executive CNG                 Second Owner
Hyundai Accent GLE                            Third Owner
Hyundai Accent GLE 1                 Fourth & Above Owner
...                                                   ...
Hyundai i20 Magna Optional 1.4 CRDi           First Owner
Hyundai i20 Sportz 1.2                       Second Owner
Hyundai i20 Sportz 1.4 CRDi                  Second Owner
Hyundai i20 Sportz Option 1.2                 First Owner
Hyundai i20 Sportz Petrol                     First Owner

[244 rows x 7 columns]
      name  selling_price  km_driven  fuel  seller_type  transmission  owner
year
1992     1              1          1     1            1             1      1
1995     1              1          1     1            1             1      1
1996     2              2          2     2            2             2      2
1997     3              3          3     3            3             3      3
1998    12             12         12    12           12            12     12
1999    10             10         10    10           10            10     10
2000    12             12         12    12           12            12     12
2001    20             20         20    20           20            20     20
2002    21             21         21    21           21            21     21
2003    23             23         23    23           23            23     23
2004    42             42         42    42           42            42     42
2005    85             85         85    85           85            85     85
2006   110            110        110   110          110           110    110
2007   134            134        134   134          134           134    134
2008   145            145        145   145          145           145    145
2009   193            193        193   193          193           193    193
2010   234            234        234   234          234           234    234
2011   271            271        271   271          271           271    271
2012   415            415        415   415          415           415    415
2013   386            386        386   386          386           386    386
2014   367            367        367   367          367           367    367
2015   421            421        421   421          421           421    421
2016   357            357        357   357          357           357    357
2017   466            466        466   466          466           466    466
2018   366            366        366   366          366           366    366
2019   195            195        195   195          195           195    195
2020    48             48         48    48           48            48     48
          name  year  selling_price  km_driven  seller_type  transmission  \
fuel
CNG         40    40             40         40           40            40
Diesel    2153  2153           2153       2153         2153          2153
Electric     1     1              1          1            1             1
LPG         23    23             23         23           23            23
Petrol    2123  2123           2123       2123         2123          2123

          owner
fuel
CNG          40
Diesel     2153
Electric      1
LPG          23
Petrol     2123
              name
transmission
Automatic      448
Manual        3892